<h1>Edit Expense</h1>
<br>
<% if flash.has?(:message) %>
  <p style="color:#f73325;"><%= flash[:message] %> </p>
<% end %>

<br>

<h5><form action="/expenses/<%= @expense.id %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="patch"/>
  
  <label for="vendor">Vendor: </label>
  <input type="text" name="expense[vendor]" id="vendor" value="<%= @expense.vendor %>"/>
  
  <br>

  <label for="date">Date: </label>
  <input type="date" name="expense[date]" id="date" min="2014-01-01" max="2029-12-31" value="<%= @expense.date %>"/>

  <br>

  <label for="total">Total:  $</label>
  <input type="number" name="expense[total]" id="total" min="0.01" step="0.01" max="9999999.99" value="<%= @expense.total %>"/>

  <br>

  <label for="description">Description: </label>
  <input type="text" name="expense[description]" id="description" value="<%= @expense.description %>"/>
 
  <br>

  <input type="submit" value="Update Expense"/>

  <br>
</form></h5>

